# These owners are the maintainers and approvers of this repo
*       @dapr/maintainers-components-contrib @dapr/approvers-components-contrib

# Default owners for all cloud specific subfolders
azure/ @artursouza @berndverst @codemonkeyleet @dmitsh @pkedy @tanvigour @wcs1only @yaron2
aws/
gcp/
alicloud/

# Bindings
/bindings/apns/ @mfcollins3
/bindings/cron/
/bindings/graphql/ @amirmm11
/bindings/http/ @artursouza @berndverst @codemonkeyleet @dmitsh @pkedy @tanvigour @wcs1only @yaron2
/bindings/influx/ @gbaeke
/bindings/kubernetes/
/bindings/localstorage/
/bindings/mqtt/ @hugome
/bindings/mysql/
/bindings/postgres/
/bindings/postmark/ @eNeRGy164
/bindings/rabbitmq/
/bindings/redis/
/bindings/rethinkdb/ @mchmarny
/bindings/smtp/
/bindings/twilio/ @mchmarny
/bindings/twitter/ @mchmarny
/bindings/zeebe/ @akkie

# PubSub
/pubsub/hazelcast/ @peterjot
/pubsub/kafka/ @khous
/pubsub/mqtt/ @kumaya
/pubsub/natsstreaming/ @abhirockzz
/pubsub/pulsar/ @elyst
/pubsub/rabbitmq/
/pubsub/redis/ @artursouza @berndverst @codemonkeyleet @dmitsh @pkedy @tanvigour @wcs1only @yaron2

# Secret Stores
/secretstores/hashicorp/vault/ @anubhavmishra @cmendible
/secretstores/kubernetes/
/secretstores/local/

# State Stores
/state/aerospike/ @abhirockzz
/state/cassandra/ @yaron2
/state/cloudstate/ @yaron2
/state/couchbase/ @abhirockzz
/state/hashicorp/consul/ @anubhavmishra
/state/hazelcast/ @abhirockzz
/state/memcached/ @singhabhilash
/state/mongodb/ @shalabhms
/state/mysql/
/state/postresql/
/state/redis/ @artursouza @berndverst @codemonkeyleet @dmitsh @pkedy @tanvigour @wcs1only @yaron2
/state/rethinkdb/ @mchmarny
/state/sqlserver/ @fbeltrao
/state/zookeeper/ @flier

